<% @brewpubs.each do |brewpub| %>
  <h1><%= link_to brewpub.name, brewpub_path(brewpub) %></h1>
  <h1><%= brewpub.address %></h1>
  <h1><%= brewpub.city %></h1>
  <h1><%= brewpub.state %></h1>
  <h1><%= brewpub.zip %></h1>
  <h1><%= brewpub.description %></h1>
  <br />
<% end %>


        <li><%= link_to "Add a New Brewpub", new_brewpub_path %></li>
