<div class='grid container grid-container-padded'>
  <div class="grid-y grid-margin-y">
    <div class="brewpub-form auto small-3">
      <%= form_for @brewpub do |f| %>
        <div class="row">
          <%= f.label :name %>
          <%= f.text_field :name %><br />
        </div>
        <div class="row">
          <%= f.label :address %>
          <%= f.text_field :address %><br />
        </div>
        <div class="row">
          <%= f.label :city %>
          <%= f.text_field :city %><br/>
        </div>
        <div class="row">
          <%= f.label :state %>
          <%= f.text_field :state %><br />
        </div>
        <div class="row">
          <%= f.label :zip %>
          <%= f.text_field :zip %><br />
        </div>
        <div class="row">
          <%= f.label :description %>
          <%= f.text_field :description %><br />
        </div>
        <div class="row">
          <%= f.label :website_url, "Website" %>
          <%= f.text_field :website_url %><br />
        </div>
        <div class="row">
          <%= f.label :img_url, "Image"  %>
          <%= f.text_field :img_url %><br />
        </div>
        <div class="row">
          <%= f.label :logo_url, "Logo" %>
          <%= f.text_field :logo_url %><br />
        </div>
        <div class="row">
          <%= f.label :phone_number, "Phone Number" %>
          <%= f.text_field :phone_number %><br />
        </div>
        <div class="row">
          <%= f.label :contact_email, "Contact Email" %>
          <%= f.text_field :contact_email %><br />
        </div>
        <div class="row">
          <%= f.label :hours, 'Hours (Optional)' %>
          <%= f.text_field :hours %><br />
        </div>
        <div class="row">
          <%= f.label :beers, 'Beers (Optional)' %>
          <%= f.text_field :beers %><br />
        </div>
        <div class="row">
          <%= f.label :tours,  'Tours (Optional)'%>
          <%= f.text_field :tours %><br />
        </div>
        <div class="row">
          <%= f.label :facebook_url, 'Facebook (Optional)' %>
          <%= f.text_field :facebook_url %><br />
        </div>
        <div class="row">
          <%= f.label :twitter_url, "Twitter (Optional)" %>
          <%= f.text_field :twitter_url %><br />
        </div>
        <div class="row">
          <%= f.label :instagram_url, "Instagram (Optional)" %>
          <%= f.text_field :instagram_url %><br />
        </div>
        <div class="actions">
        <%= f.submit "Add Brewpub" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
