<!DOCTYPE html>
<html>
  <head>
    <title>Brew Review</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'navbar', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css">
  </head>

  <body>

    <nav class="topnav" id="myTopnav">
      <div class=navigation><%= link_to "Home", brewpubs_path %></div>
      <% if user_signed_in? %>
        <div class=username>Signed in as <%= current_user.email %></div>
        <div class=signin><%= link_to "Sign out", destroy_user_session_path, method: :delete %></div>
        <a href="/brewpubs/new">Add New Brewpub</a>
      <% else%>
        <div class=signin>
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Sign in", new_user_session_path %>
        </div>
      <%end%>
    </nav>

    <%flash.each do |key, value|%>
      <%=value%>
    <%end%>
    <%= yield %>
  </body>
</html>
