<!DOCTYPE html>
<html>
  <head>
    <title>Brew Review</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'navbar', media: 'all' %>
    <%= stylesheet_link_tag    'brewpubs', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
  </head>

  <body>
    <div id="grad">

    <nav class="topnav" id="myTopnav">
      <div class=navigation><%= link_to "Home", brewpubs_path %></div>
      <% if user_signed_in? %>
        <img class=profile_pic src="<%= current_user.profile_photo %>"></img>
        <div class=username>Signed in as <%= current_user.email %></div>
        <div class=signin><%= link_to "Sign out", destroy_user_session_path, method: :delete %></div>
        <a href="/brewpubs/new">Add New Brewpub</a>
      <% else%>
        <div class=signin>
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Sign in", new_user_session_path %>
        </div>
      <%end%>
    </nav>

      <div class="hero-image">
        <div class="hero-text">
          <br />
            <span>Brew</span><span>Review</span>
            <br />
            <br />
        </div>
    </div>
    <div class="app">

    <%flash.each do |key, value|%>
      <%=value%>
    <%end%>
    <%= yield %>


  </div>
</div>
  </body>
</html>
